<!doctype html>
<html lang="en" data-ng-app="sandboxApp">
<head>
    <meta charset="utf-8">
    <title>AngularTS Sandbox</title>
    
    <script src="../vendor/angular/angular.js" type="text/javascript"></script>
</head>
<body data-ng-cloak>
    <h1>Sharing data between controllers without polluting the parent scope:</h1>

    <div data-ng-controller="myFeatureOneCtrl">
        <button data-ng-click="vm.status=true">True</button>
        <button data-ng-click="vm.status=false">False</button>
        <p>
            Ctrl 1 Output: <b>{{vm.status}}</b>
        </p>
    </div>
    
    <div data-ng-controller="myFeatureTwoCtrl">
        <button data-ng-click="vm.status=true">True</button>
        <button data-ng-click="vm.status=false">False</button>
        <p>
            Ctrl 2 Output: <b>{{vm.status}}</b>
        </p>
    </div>
    
    <script src="scripts/myFeature/myFeatureSrvc.js" type="text/javascript"></script>
    <script src="scripts/myFeature/myFeatureCtrl.js" type="text/javascript"></script>
    <script src="scripts/app.js" type="text/javascript"></script>
</body>
</html>
